body {
    max-width: 100%;
    background-color: white;
    background-image: url(../Gallery_Page/galleryimg/crinkled.webp);
    background-repeat: repeat; 
    background-size: contain;
    background-blend-mode: luminosity;
    overflow-x: hidden;
  }

  .js-loading *,
  .js-loading *:before,
  .js-loading *:after {
  animation-play-state: paused !important;
}

  .gamehusk{
    position: fixed;
    top: 10;
    left: 10;
    width: 10vw;
    height: auto;
    z-index: 1000;

  }

  .loadinggif {
    display: block;
    position: absolute;
    margin-left: 35vw;
    margin-top: 55vw;
    place-items: center;
    max-width: 25vw;
    mix-blend-mode: normal;
    z-index: 3000;
  }

.loadinggif img {
    width: 100%;
    height: 100%;
}

.whiteOut{
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 2500;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

  .container{
    display: flex;
    flex-direction: column;
    padding: 5vw;
  } 
  .mainpic{
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: multiply;
  } 
  .wordpic {
    max-width: 60%;
    max-height: auto;
    mix-blend-mode: multiply;
    align-self: center;
    margin-left: -350%;
    padding-top: 0vw;
    animation-name: wordy;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes wordy {
    from {margin-left: -350%}
    to   {margin-left: 0%}
  }

  @media screen and (orientation: landscape){
    body{
      background-image: url(../Gallery_Page/galleryimg/crinkled2.webp);
    }
    
    .container{
        padding: 2%;
        max-width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10rem;
    }

    .loadinggif {
      margin-left: 38vw;
      margin-top: 20vw;
    }

    .mainpic{
        max-height:100vh;
        max-width: auto;
    }
    .wordpic{
        max-height: 60vh;
        max-width: auto;

    }
    .gamehusk{
      position: fixed;
      top: 10;
      left: 10;
      width: 6vw;
      height: auto;
      z-index: 1000;
  
    }

}