body{
    background-color: black;
    mix-blend-mode: screen;
}
.loadinggif {
    display: block;
    position: absolute;
    margin-left: 35vw;
    margin-top: 55vw;
    place-items: center;
    max-width: 25vw;
    mix-blend-mode: normal;
  }

.loadinggif img {
    width: 100%;
    height: 100%;
}

@media screen and (orientation: landscape) {
    .loadinggif {
        margin-left: 38vw;
        margin-top: 20vw;
    }
}